*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #333333; }

.container {
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

h1 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 10rem;
  color: #ffffff;
  text-shadow: -6px 8px 0px #8B8B8B;
  position: relative;
  left: 50%;
  transform: translateX(-50%) rotate(-7deg); }
  h1 div {
    background-color: #1A1A1A;
    padding: 2rem 5rem;
    box-shadow: -6px 8px 0 rgba(75, 74, 74, 0.164);
    border-radius: 2rem; }

h2 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 2rem;
  color: white;
  text-transform: uppercase; }

p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.6rem;
  color: white; }

strong {
  font-weight: 700;
  color: royalblue; }

img {
  width: 100%; }

ul {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.6rem; }

li {
  list-style-image: url("/img/list/li.png");
  margin-bottom: 0.5rem;
  color: white; }

.links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%; }

a,
a:link,
a:visited,
a:active {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.6rem;
  font-weight: 700;
  color: #D880CF;
  text-decoration: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; }

.project {
  border: 1px solid rgba(165, 165, 165, 0.041);
  position: relative;
  min-height: 47rem;
  background-color: #3B3B3B;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.164);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; }

.project-section {
  position: relative;
  overflow: hidden; }
  .project-section--design {
    height: 80rem;
    width: 120vw;
    position: absolute;
    left: -10rem;
    top: 20rem;
    transform: rotate(5deg);
    background-color: rgba(225, 244, 243, 0.5); }
    @media only screen and (max-width: 1110px) {
      .project-section--design {
        height: 120rem; } }
    @media only screen and (max-width: 600px) {
      .project-section--design {
        display: none; } }

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5rem;
  grid-column-gap: 5rem; }
  @media only screen and (max-width: 1110px) {
    .row {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 600px) {
    .row {
      grid-template-columns: 1fr; } }

.heading-secondary {
  color: #Ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: lowercase; }

.mb-5 {
  margin-bottom: 2rem; }

.mb-15 {
  margin-bottom: 15rem; }
  @media only screen and (max-width: 600px) {
    .mb-15 {
      margin-bottom: 5rem; } }

.mt-5 {
  margin-top: 2rem; }

.mt-auto {
  margin-top: auto; }

.d-inline-block {
  display: inline-block; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.p-l-2 {
  padding-left: 1rem; }

.p-l-4 {
  padding-left: 2.5rem; }

.p-r-2 {
  padding-right: 1rem; }

.half-screen {
  width: 50%; }
  @media only screen and (max-width: 1110px) {
    .half-screen {
      width: 100%; } }

.text-center {
  text-align: center; }

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.unavailable {
  cursor: not-allowed; }

.text-blue {
  color: #7EA0FC; }

.rotate-180 {
  position: relative;
  transform: rotate(180deg) translateX(5px);
  text-shadow: 6px -8px 0px #8B8B8B; }
